<div class="userBody">
    {{> header}}
    
    <img src="/public/img/chapulin.jpg" alt="chapulin colorado" />
    <p>No contaban con mi astucia !!!</p>
    <p>Mi mensaje personalizdo - {{message}}</p>
</div>