{{!-- home handlebars integrando el header.hbs y el footer.hbs y anexar con bttn que llevan a 
app.get("/user", (req, res) => {
app.post("/user", (req, res) => {
app.get("/products", (req, res) => {
    app.get("/admin/:code", (req, res) => {
app.get("/astucia/:message", (req, res) => { --}}

  <div>
    {{> header}}
    <h1>SOY el INICIO - el HOME</h1>
    
    {{#if active}}
      <p>La edad es: {{edad}}</p>
    {{/if}}
  
    {{> footer}}
</div>