<div class="userBody">
    {{> header}}
    {{#if id}}
    <h1>Hola, {{nombre}}!</h1>
    <p>Síganme los buenos ... </p>
    <img src="/public/img/chapulin.jpg" alt="chapulin colorado" />
    {{else}}
    <p>No ha enviado ID</p>
    {{/if}}
</div>